body{
    background-color:#E6DEDB;
}

.grid{
    display: grid;
    grid-template-columns: 60vw 2vw 38vw;
    grid-template-rows: 1fr;
    min-height: 100vh;
}

.gridWorld{

}

.gridText{
    grid-column: 3;
    background-color: blue;
}